 <meta http-equiv="refresh" content="0;url=waitlists/new"> 
<!--

<h1>Listing waitlists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Crn</th>
  </tr>

<% @waitlists.each do |waitlist| %>
  <tr>
    <td><%=h waitlist.name %></td>
    <td><%=h waitlist.phone %></td>
    <td><%=h waitlist.email %></td>
    <td><%=h waitlist.crn %></td>
    <td><%= link_to 'Show', waitlist %></td>
    <td><%= link_to 'Edit', edit_waitlist_path(waitlist) %></td>
    <td><%= link_to 'Destroy', waitlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New waitlist', new_waitlist_path %>

-->
