<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p>
 <b> You are currently waitlisted for:<br> <%=h `./getcourse #{@waitlist.crn}` %></b>
</p

<p>
  <b>Name:</b>
  <%=h @waitlist.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @waitlist.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @waitlist.email %>
</p>

<p>
  <b>Crn:</b>
  <%=h @waitlist.crn %>
</p>


<b><p>We'll let you know when it is ready!</p></b>


